{% extends "base.html" %}

{% block title %} All users{% endblock %}

{% block content %}
<h2 class="mb-4">User List</h2>
<form method="GET" action="{{url_for('show_users')}}" class="mb-3 d-flex"> <input type="text" name="search"
        class="form-control me-2" placeholder="search user" value="{{serch_term}}"><button type="submit"
        class="btn btn-outline-success">search</button></form>

<table class="table table-bordered table-striped table-hover">
    <thead class="table-success">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ user.name }}</td>
            <td>
                <a href="{{ url_for('edit', user_id=user.id)}}" class="btn btn-sm btn-primary">Edits</a>
                <a href="{{url_for('delete', user_id=user.id)}}" class="btn btn-sm btn-danger"
                    onclick="return confirm('Delete this user?')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav>
    <ul class="pagination justify-content-center">
        {% if users.has_prev %}
        <li class="page-item">
            <a class="page-link" href="{{url_for('show_users',page=users.prev_num,search=search_term)}}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Previous</span></li>
        {% endif %}

        {% for p in range(1,users.page + 1) %}
        <li class="page-item" {% if users.page==p %}active{% endif %}> <a class="page-link"
                href="{{ url_for('show_users', page=p,search=search_term) }}">{{ p }}</a></li>
        {% endfor %}
        {% if users.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{url_for('show_users',page=users.next_num,search=search_term)}}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link"> Next</span></li>
        {% endif %}
    </ul>
</nav>
<a href="{{url_for('download_users')}}" class="btn btn-secondary mb-3">DOWNLOAD Users CVS</a>
{% endblock %}